<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
  <p>Welcome to my little slice of Internet.</p>
   <p>I write about modern web development, mostly related to Scala.</p>
    <div class="social-network">
     <a href="{{ site.link-so }}" title="StackOverflow" target="_blank"><i class="fa fa-stack-overflow fa-larger" aria-hidden="true"></i></a>
     <a href="{{ site.link-gh }}" title="GitHub" target="_blank"><i class="fa fa-github fa-larger" aria-hidden="true"></i></a>
     <a href="{{ site.link-ln }}" title="LinkedIn" target="_blank"><i class="fa fa-linkedin fa-larger" aria-hidden="true"></i></a>
     <a href="{{ site.link-uw }}" title="Upwork" target="_blank"><img src="{{ site.baseurl }}/public/upwork.png" class="social-icon-img" ></img></a>
     <a href="mailto:{{ site.email-address }}" title="Email"><i class="fa fa-envelope-o fa-larger" aria-hidden="true"></i></a>
    
    </div>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>

    </p>
  </div>
</div>
